<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-speedtest" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-speedtest</name>
        
    <js-module name="cordova-plugin-speedtest" src="www/cordova-plugin-speedtest.js">
        <clobbers target="cordova.plugins.cordova-plugin-speedtest"/>
    </js-module>
<!--    <dependency id="cordova-plugin-add-swift-support" version="2.0.0" /> -->
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>

    <platform name="ios">
        <preference name="SwiftVersion" value="5.9.2" />
        <source-file src="src/ios/frameworks/SpeedtestSDK.xcframework" target-dir="lib" framework="true"/>
        <framework src="libc++.tbd"/>
        <framework src="libz.tbd"/>
        <config-file target="config.xml" parent="/*">
            <feature name="SpeedTest">
                <param name="ios-package" value="SpeedTest"/>
            </feature>
        </config-file>
<!--         <source-file src="src/ios/SpeedTest.swift"/>
        <source-file src="src/ios/CustomTestHandler.swift"/>
        <source-file src="src/ios/EndpontHandler.swift"/>
        <source-file src="src/ios/ResultDTO.swift"/> -->
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Access Location Service</string>
        </config-file>
    </platform>

    <platform name="android">
        <!--        <config-file parent="/*" target="res/xml/config.xml">-->
        <!--            <feature name="cordova-plugin-speedtest">-->
        <!--                <param name="android-package" value="cordova-plugin-speedtest.cordova-plugin-speedtest"/>-->
        <!--            </feature>-->
        <!--        </config-file>-->
        <!--        <config-file parent="/*" target="AndroidManifest.xml"></config-file>-->

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <config-file parent="/widget" target="res/xml/config.xml">
            <feature name="SpeedTest">
                <preference name="GradlePluginKotlinEnabled" value="true"/>
                <preference name="GradlePluginGoogleServicesEnabled" value="true"/>
                <preference name="GradlePluginKotlinCodeStyle" value="official"/>
                <preference name="GradlePluginKotlinVersion" value="1.9.24"/>
                <param name="android-package" value="com.ncinga.speedtest.SpeedTest"/>
            </feature>
        </config-file>

        <source-file src="src/android/SpeedTest.kt" target-dir="src/main/kotlin/com/ncinga/speedtest"/>
        <source-file src="src/android/CustomTestHandler.kt" target-dir="src/main/kotlin/com/ncinga/speedtest"/>
        <source-file src="src/android/EndpointHandler.kt" target-dir="src/main/kotlin/com/ncinga/speedtest"/>
        <source-file src="src/build-extras.gradle" target-dir="app/"/>
        <source-file src="src/android/sdk" target-dir="app/libs"/>
        <!--        <source-file src="src/android/cordova-plugin-speedtest.java"-->
        <!--                     target-dir="src/cordova-plugin-speedtest/cordova-plugin-speedtest"/>-->
    </platform>
</plugin>
